{% extends 'very_base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Login
{% endblock %}
{% block very_body %}
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center" style="min-height: 100vh !important;" >
            <div class="col-12 col-md-6 col-lg-4" >
                <div class="card bg-light shadow p-3">
                    <form action="" method="POST">
                        {% csrf_token %}
                        {% crispy form %}
                    </form>
                </div>
                <div class="text-end mt-2">
                    <a class="fw-bold text-light" style="text-decoration: none;" href="#">quero ser um usuário</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}