{% extends 'very_base.html' %}
{% load static crispy_forms_tags %}
{% block title %}
    Login
{% endblock %}
{% block very_body %}
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center" style="min-height: 100vh !important;" >
            <div class="col-12 col-md-6 col-lg-4" >
                <div class="card shadow p-3">
                    <div class="row justify-content-center">
                        <div class="col text-center">
                            <img height="200" width="200" class="img-fluid" src="{% static 'img/favicon.ico' %}" alt="">
                        </div>
                    </div>
                    <form action="" method="POST">
                        {% csrf_token %}
                        {% crispy form %}
                    </form>
                </div>

                <div class="text-end mt-2">
                    <a class="fw-bold" style="text-decoration: none;color:#31977f;" href="{% url 'contact_solicitation' %}">Quero ser um usuário</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}