{% load i18n %}
{% autoescape off %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperação de senha</title>
</head>
<body>
    <section>
        <div style=" border-radius: 10px;background-color: rgb(219, 226, 222);border: solid #31977f 2px;margin: 15px;padding: 20px;font-size: 20px; box-shadow: 3px 3px 3px #84b9ac !important ;">
            <p>
                <p>Olá {{ user.first_name }}.</p>
                <p>Você recebeu este e-mail, pois foi solicitado o reset de senha no aplicativo Contas Fácil.</p>
                <p>Se pretende prosseguir, por gentileza, clique no link abaixo e altere sua senha:</p>
                <p><a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}"><h3>alterar senha</h3></p></a>
            </p>
        </div>
    </section>
</body>
</html>
{% endautoescape %}