{% extends 'base.html' %}
{% load coretags crispy_forms_tags %}
{% block title %}
    Cobradores - lista
{% endblock %}
{% block body %}
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <form id="filter_form" action="?" class="card shadow p-3" method="get">
                <div class="row">
                    <div class="col-12  mt-2">
                        <label >Nome:</label>
                        <input type="text" name="name__icontains" class="form-control" value="{{request.GET.name__icontains}}">
                    </div>
                </div>
                <div class="col-12 text-center">
                    <button type="submit" class="btn btn-success mt-3"><i class="material-icons">filter_alt</i> filtrar</button>
                    <button type="button" onclick="cleanFilters()" class="btn btn-outline-secondary mt-3"><i class="material-icons">backspace</i> limpar</button>
                    <button type="button" data-bs-toggle="modal" data-bs-target="#bill_charger_create_modal" class="btn btn-outline-primary mt-3"><i class="material-icons">add</i> adicionar</button>
                </div>
            </form>
            <div class="card shadow mt-3 p-3">
                <div style="overflow-x: auto;">
                    <table class="table table-striped">
                        <thead>
                            <th>ID</th>
                            <th>Nome</th>
                            <th></th>
                        </thead>
                        <tbody>
                            {% for obj in object_list %}
                                <tr>
                                    <td>{{obj.id}}</td>
                                    <td>{{obj.name}}</td>
                                    <td class="text-end m-0"><a href="{% url 'billcharger_update' obj.id %}" class="m-0 btn btn-sm btn-warning"><i class="material-icons">edit</i><span class="d-none d-lg-inline-block"> edtar</span></a></td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="1000" class="text-center">
                                        nenhum resultado encontrado
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% include "pagination/pagination_nav.html"%}
            </div>
        </div>
    </div>

    <!-- início do modal de criar cateoria -->
    <div class="modal fade" id="bill_charger_create_modal" tabindex="-1" aria-labelledby="bill_charger_create_modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="fechar"></button>
                </div>
                <div class="modal-body">
                    <form id="payment_form" method="post" action="{% url 'billcharger_create' %}">
                        {% crispy bill_charger_create_form %}
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- fim do modal de criar cobrador -->

    <script>
        var navLinkIndex = 2
    </script>
{% endblock %}