{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Contas - formulário
{% endblock %}
{% block body %}
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <form method="POST" enctype="multipart/form-data" class="card shadow p-3">
                {% csrf_token %}
                {% crispy form %}
            </form>
        </div>
    </div>
    <!-- início do modal para confimar deletar -->
    {% if form.instance.id %}
        <div class="modal fade" id="delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"><i class="material-icons text-danger">delete</i> Deletar</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="fechar"></button>
                    </div>
                    <div class="modal-body">
                        Tem certeza que deseja deletar esta conta?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="material-icons">undo</i> cancelar</button>
                        <form method="post" action="{% url 'bill_delete' form.instance.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger"><i class="material-icons">delete</i> deletar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <!-- fim do modal para confimar deletar -->
{% endblock %}
{% block script %}
    <script>
        var navLinkIndex = 0
        $(document).ready(()=>{
            $('#id_bill_category').select2(
                {
                    language:"pt-BR",
                    theme:'bootstrap-5',
                    minimumInputLength:0
                }
            )
        })
        $(document).ready(()=>{
            $('#id_bill_charger').select2(
                {
                    language:"pt-BR",
                    theme:'bootstrap-5',
                    minimumInputLength:0
                }
            )
        })
    </script>
{% endblock %}