{% extends 'base.html' %}
{% load coretags %}
{% block body %}
    <div class="row justify-content-center">
        <div class="col-12 col-md-10">
            <form action="?" class="card p-3" method="get">
                <div class="row">
                    <div class="col-4 mt-2">
                        <label for="">Categoria:</label>
                        <select name="bill_category"  class="form-control">
                            <option value="">todas</option>
                            {% for category in user.get_billcategories %}
                                <option {% if category.id == request.GET.bill_category|to_int %}selected{%endif%} value="{{category.id}}">{{category.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-4 mt-2">
                        <label for="">Tipo:</label>
                        <select name="bill_type" class="form-control">
                            <option value="">todos</option>
                            {% for key,value in BILL_TYPES %}
                                <option {% if key == request.GET.bill_type %}selected{%endif%} value="{{key}}">{{value}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-4 mt-2">
                        <label for="">Status:</label>
                        <select name="status" class="form-control">
                            <option value="">todos</option>
                            {% for key,value in BILL_STATUSES %}
                                <option {% if key == request.GET.status %}selected{%endif%} value="{{key}}">{{value}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-4 mt-2">
                        <label for="">Cobrador:</label>
                        <select name="bill_charger"  class="form-control">
                            <option value="">todos</option>
                            {% for charger in user.get_billchargers %}
                                <option {% if charger.id == request.GET.bill_charger|to_int %}selected{%endif%} value="{{charger.id}}">{{charger.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-4 mt-2">
                        <label for="">Valor:</label>
                        <input type="number" name="value" class="form-control"    value="{{request.GET.value}}">
                    </div>
                    <div class="col-4 mt-2">
                        <label for="">Tamanho da página</label>
                        <select class="form-control" name="page_size">
                            {% for n in PAGE_SIZES%}
                                <option {% if n == request.GET.page_size %}selected{%endif%} value="{{n}}">{{n}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-12 text-center">
                    <button type="submit" class="btn btn-success mt-3">filtrar</button>
                </div>
            </form>
            <div class="card mt-3 p-3">
                <div style="overflow-x: auto;">
                    <table class="table table-striped">
                        <thead>
                            <th>Criada em</th>
                            <th>Categoria</th>
                            <th>Tipo</th>
                            <th>Cobrador</th>
                            <th>Parcela</th>
                            <th>Status</th>
                            <th>Vence em</th>
                            <th>Valor R$</th>
                            <th></th>
                        </thead>
                        <tbody>
                            {% for obj in object_list %}
                                <tr>
                                    <td>{{obj.created_date}}</td>
                                    <td>{{obj.bill_category.name}}</td>
                                    <td>{{obj.get_bill_type_display}}</td>
                                    <td>{{obj.bill_charger.name}}</td>
                                    <td>{{obj.installment_number}}</td>
                                    <td>{{obj.get_status_display}}</td>
                                    <td>{{obj.expiration_date}}</td>
                                    <td>{{obj.value}}</td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="1000" class="text-center">
                                        nenhum resultado encontrado
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            {% if page_obj.number != 1 %}
                                <li class="page-item">
                                    <a class="page-link" href="?page=1&bill_category={{request.GET.bill_category}}&bill_type={{request.GET.bill_type}}&status={{request.GET.status}}&value={{request.GET.value}}&page_size={{request.GET.page_size}}" aria-label="Primeira">
                                        <span aria-hidden="true"><<</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{page_obj.previous_page_number}}&bill_category={{request.GET.bill_category}}&bill_type={{request.GET.bill_type}}&status={{request.GET.status}}&value={{request.GET.value}}&page_size={{request.GET.page_size}}" aria-label="Anterior">
                                        <span aria-hidden="true"><</span>
                                    </a>
                                </li>
                            {% endif %}
                            <li class="page-item"><a class="page-link" href="#">{{page_obj.number}}</a></li>
                            {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{page_obj.next_page_number}}&bill_category={{request.GET.bill_category}}&bill_type={{request.GET.bill_type}}&status={{request.GET.status}}&value={{request.GET.value}}&page_size={{request.GET.page_size}}" aria-label="Próxima">
                                        <span aria-hidden="true">></span>
                                    </a>
                                </li>
                            {% endif %}
                            {% if page_obj.number != page_obj.paginator.num_pages %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{page_obj.paginator.num_pages}}&bill_category={{request.GET.bill_category}}&bill_type={{request.GET.bill_type}}&status={{request.GET.status}}&value={{request.GET.value}}&page_size={{request.GET.page_size}}" aria-label="Última">
                                        <span aria-hidden="true">>></span>
                                    </a>
                                </li>
                            {% endif %}
                            <li class="page-item disabled">
                                <a class="page-link " href="#" aria-label="Última">
                                    <span aria-hidden="true">total: {{page_obj.paginator.count}}</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
{% endblock %}