{% extends 'base.html' %}
{% load coretags static %}
{% block title %}
    Contas - lista
{% endblock %}
{% block body %}
    <style>
        .bill_UNDEFINED{
            background-color: rgb(109, 70, 70);
            color: white;
        }
        .bill_TO_EXPIRE{
            background-color: rgb(69, 85, 234);
            color: white;
        }
        .bill_EXPIRED{
            background-color: rgb(205, 65, 65);
            color: white;
        }
        .bill_EXPIRES_TODAY{
            background-color: rgb(205, 65, 65);
            color: white;
        }
        .bill_WARNING{
            background-color: rgb(223, 196, 76);
            color: black;
        }
        .bill_PAID{
            background-color: rgb(87, 198, 77);
            color: white;
        }
    </style>
    <div class="row justify-content-center">
        <div class="col-12 col-md-11">
            <form id="filter_form" action="?" class="card bg-light shadow p-3" method="get">
                <div class="row">
                    <div class="col-4 mt-2">
                        <label >Categoria:</label>
                        <select name="bill_category"  class="form-control">
                            <option value="">todas</option>
                            {% for category in user.get_billcategories %}
                                <option {% if category.id == request.GET.bill_category|to_int %}selected{%endif%} value="{{category.id}}">{{category.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-4 mt-2">
                        <label >Tipo:</label>
                        <select name="bill_type" class="form-control">
                            <option value="">todos</option>
                            {% for key,value in BILL_TYPES %}
                                <option {% if key == request.GET.bill_type %}selected{%endif%} value="{{key}}">{{value}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-4 mt-2">
                        <label >Status:</label>
                        <select name="status" class="form-control">
                            <option value="">todos</option>
                            {% for key,value in BILL_STATUSES %}
                                <option {% if key == request.GET.status %}selected{%endif%} value="{{key}}">{{value}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-4 mt-2">
                        <label >Cobrador:</label>
                        <select name="bill_charger"  class="form-control">
                            <option value="">todos</option>
                            {% for charger in user.get_billchargers %}
                                <option {% if charger.id == request.GET.bill_charger|to_int %}selected{%endif%} value="{{charger.id}}">{{charger.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-4 mt-2">
                        <label >Tipo de pagamento:</label>
                        <select class="form-control" name="payment_type">
                            <option value="">todos</option>
                            {% for key,value in BILL_PAYMENT_TYPES %}
                                <option {% if key == request.GET.payment_type %}selected{%endif%} value="{{key}}">{{value}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-4 mt-2">
                        <label >Ordenar por:</label>
                        <select class="form-control" name="ordering">
                            {% for key,value in BILL_ORDERING_OPTIONS %}
                                <option {% if key == request.GET.ordering %}selected{%endif%} value="{{key}}">{{value}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-4 mt-2">
                        <label>Criada em:</label>
                        <input name="created_date" class="form-control" type="date" value="{{request.GET.created_date}}">
                    </div>
                    <div class="col-4 mt-2">
                        <label>Vence em:</label>
                        <input name="expiration_date" class="form-control" type="date" value="{{request.GET.expiration_date}}">
                    </div>
                    <div class="col-4 mt-2">
                        <label >Tamanho da página:</label>
                        <select class="form-control" name="page_size">
                            {% for n in PAGE_SIZES %}
                                <option {% if n == request.GET.page_size|to_int %}selected{%endif%} value="{{n}}">{{n}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-12 text-center">
                    <button type="submit" class="btn btn-success mt-3"><i class="material-icons">filter_alt</i> filtrar</button>
                    <button type="button" onclick="cleanFilters()" class="btn btn-outline-secondary mt-3"><i class="material-icons">backspace</i> limpar</button>
                    <a href="{% url 'bill_create' %}" class="btn btn-outline-primary mt-3"><i class="material-icons">add</i> adicionar</a>
                </div>
            </form>
            <div class="card bg-light shadow mt-3 p-3">
                <div style="overflow-x: auto;">
                    <table class="table table-striped table-hover">
                        <thead>
                            <th>Criada em</th>
                            <th>Categoria</th>
                            <th>Tipo</th>
                            <th>Cobrador</th>
                            <th>Parcela</th>
                            <th>Status</th>
                            <th>Vence em</th>
                            <th></th>
                            <th>Paga em</th>
                            <th>Pagamento</th>
                            <th>Valor R$</th>
                            <th></th>
                            <!-- coluna de dias faltando -->
                            <!-- coluna de data de pagamento -->
                        </thead>
                        <tbody>
                            {% for obj in object_list %}
                                <tr data-toggle="tooltip" title="{{ obj.note }}">
                                    <td>{{obj.created_date|date:'d/m/Y'}}</td>
                                    <td>{{obj.bill_category.name}}</td>
                                    <td>{{obj.get_bill_type_display}}</td>
                                    <td>{{obj.bill_charger.name}}</td>
                                    <td>{% if obj.bill_type == 'INSTALLED' %}{{obj.installment_sequence}} de {{obj.installment_total}}{% else %}-{% endif %}</td>
                                    <td><span class="badge bill_{{obj.status}}">{{obj.get_status_display}}</span></td>
                                    <td>{% if obj.expiration_date is not none %}{{obj.expiration_date|date:'d/m/Y'}}{% else %}-{% endif %}</td>
                                    <td>{{obj.get_days_to_expiration_date}}</td>
                                    <td>{{obj.payment_date|date:'d/m/Y'}}</td>
                                    <td>{% if obj.payment_type is not none %}{{obj.get_payment_type_display}}{% else %}-{% endif %}</td>
                                    <td>{{obj.value}}</td>
                                    <td class="text-end m-0"><a href="{% url 'bill_update' obj.id %}" class="m-0 btn btn-sm btn-warning"><i class="material-icons">edit</i><span class="d-none d-lg-inline-block"> edtar</span></a></td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="1000" class="text-center">
                                        nenhum resultado encontrado
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        {% if page_obj.number != 1 %}
                            <li class="page-item">
                                <a class="page-link" href="?page=1&bill_category={{request.GET.bill_category}}&bill_type={{request.GET.bill_type}}&status={{request.GET.status}}&page_size={{request.GET.page_size}}&ordering={{request.GET.ordering}}&created_date={{request.GET.created_date}}&expiration_date={{request.GET.expiration_date}}&payment_type={{request.GET.payment_type}}" aria-label="Primeira">
                                    <span aria-hidden="true"><<</span>
                                </a>
                            </li>
                        {% endif %}
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{page_obj.previous_page_number}}&bill_category={{request.GET.bill_category}}&bill_type={{request.GET.bill_type}}&status={{request.GET.status}}&page_size={{request.GET.page_size}}&ordering={{request.GET.ordering}}&created_date={{request.GET.created_date}}&expiration_date={{request.GET.expiration_date}}&payment_type={{request.GET.payment_type}}" aria-label="Anterior">
                                    <span aria-hidden="true"><</span>
                                </a>
                            </li>
                        {% endif %}
                        <li class="page-item"><a class="page-link" href="#">{{page_obj.number}}</a></li>
                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{page_obj.next_page_number}}&bill_category={{request.GET.bill_category}}&bill_type={{request.GET.bill_type}}&status={{request.GET.status}}&page_size={{request.GET.page_size}}&ordering={{request.GET.ordering}}&created_date={{request.GET.created_date}}&expiration_date={{request.GET.expiration_date}}&payment_type={{request.GET.payment_type}}" aria-label="Próxima">
                                    <span aria-hidden="true">></span>
                                </a>
                            </li>
                        {% endif %}
                        {% if page_obj.number != page_obj.paginator.num_pages %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{page_obj.paginator.num_pages}}&bill_category={{request.GET.bill_category}}&bill_type={{request.GET.bill_type}}&status={{request.GET.status}}&value={{request.GET.value}}&page_size={{request.GET.page_size}}&ordering={{request.GET.ordering}}&created_date={{request.GET.created_date}}&expiration_date={{request.GET.expiration_date}}&payment_type={{request.GET.payment_type}}" aria-label="Última">
                                    <span aria-hidden="true">>></span>
                                </a>
                            </li>
                        {% endif %}
                        <li class="page-item disabled">
                            <a class="page-link " href="#" aria-label="Última">
                                <span aria-hidden="true">total: {{page_obj.paginator.count}}</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <script>
        var navLinkIndex = 0
    </script>
{% endblock %}