{% extends 'base.html' %}
{% load coretags static crispy_forms_tags %}
{% block title %}
    Contas - lista
{% endblock %}
{% block body %}
    <style>
        .bill_UNDEFINED{
            background-color: rgb(110, 75, 75);
            color: white;
        }
        .bill_TO_EXPIRE{
            background-color: rgb(67, 161, 88);
            color: white;
        }
        .bill_EXPIRED{
            background-color: rgb(205, 65, 65);
            color: white;
        }
        .bill_EXPIRES_TODAY{
            background-color: rgb(69, 85, 234);
            color: white;
        }
        .bill_WARNING{
            background-color: rgb(244, 213, 73);
            color: black;
        }
        .bill_PAID{
            background-color: rgb(87, 198, 77);
            color: white;
        }
        th{
            padding-top: 0 !important;
        }
    </style>
    <div class="row justify-content-center">
        <div class="col-12 ">
            <button data-toggle="tooltip" title="cadastrar nova conta" type="button" data-bs-toggle="modal" data-bs-target="#create_bill_modal" class="btn btn-sm btn-primary mb-3"><i class="material-icons">add</i>Cadastrar Nova Conta</button>
            <div class="card  shadow pb-3 px-3">
                <div style="overflow-x: auto;">
                    <table class="table table-striped table-hover">
                        <thead>
                            <th class="text-center">Criada em</th>
                            <th class="text-center">Categoria</th>
                            <th class="text-center">Tipo</th>
                            <th class="text-center">Cobrador</th>
                            <th class="text-center">Parcela</th>
                            <th class="text-center">Status</th>
                            <th class="text-center">Vence em</th>
                            {% if request.GET.status != 'PAID' %}
                                <th class="text-center">Prazo</th>
                            {% else %}
                                <th class="text-center">Paga em</th>
                                <th class="text-center">Forma de pagamento</th>
                                <th class="text-center">Banco</th>
                            {% endif %}
                            <th class="text-center">Valor R$</th>
                            <th class="text-end">
                                <button data-toggle="tooltip" title="abrir filtros" type="button"  data-bs-toggle="modal" data-bs-target="#bill_filters" class="btn btn-sm btn-success mt-3"><i class="material-icons">filter_alt</i></button>
                                
                            </th>
                        </thead>
                        <tbody>
                            {% for obj in object_list %}
                                <tr>
                                    <!-- Criada em -->
                                    <td class="text-center">{{obj.created_date|date:'d/m/Y'}}</td>
                                    <!-- Catgoria -->
                                    <td class="text-center text-capitalize">{{obj.bill_category.name}}</td>
                                    <!-- Tipo -->
                                    <td class="text-center text-capitalize"><span>{{obj.get_bill_type_display}}</span></td>
                                    <!-- Cobrador -->
                                    <td class="text-center text-capitalize">{{obj.bill_charger.name}}</td>
                                    <!-- Parcela -->
                                    <td class="text-center">{% if obj.bill_type == 'INSTALLED' %}{{obj.installment_sequence}} de {{obj.installment_total}}{% else %}-{% endif %}</td>
                                    <!-- Status -->
                                    <td class="text-center"><span class="badge bill_{{obj.status}}">{{obj.get_status_display}}</span></td>
                                    <!-- Vence em -->
                                    <td class="text-center">{% if obj.expiration_date is not none %}{{obj.expiration_date|date:'d/m/Y'}}{% else %}-{% endif %}</td>
                                    {% if request.GET.status != 'PAID' %}
                                        <!-- Prazo -->
                                        <td class="text-center">{{obj.get_days_to_expiration_date}}</td>
                                    {% else %}
                                        <!-- Paga em -->
                                        <td class="text-center">{% if obj.payment_date is not none %}{{obj.payment_date|date:'d/m/Y'}}{%else%}-{%endif%}</td>
                                        <!-- Tipo pagamento -->
                                        <td class="text-center text-capitalize">{% if obj.payment_type is not none %}{{obj.get_payment_type_display}}{% else %}-{% endif %}</td>
                                        <!-- Banco -->
                                        <td class="text-center text-capitalize">{% if obj.bank is not none %}{{obj.get_bank_display}}{% else %}-{% endif %}</td>
                                    {% endif %}
                                    <!-- Valor -->
                                    <td class="text-center">{{obj.value|to_currency}}</td>
                                    <td class="text-end m-0">
                                        {% if obj.status != 'PAID' %}
                                            <a href="{% url 'bill_update' obj.id %}" class="m-0 btn btn-sm btn-warning"><i class="material-icons">edit</i></a>
                                            <button data-toggle="tooltip" title="registrar pagamento" onclick="document.querySelector('#payment_form').setAttribute('action','{% url 'bill_pay' obj.id %}')" class="m-0 btn btn-sm btn-success" data-bs-toggle="modal" data-bs-target="#bill_payment_modal"><i class="material-icons">attach_money</i></button>
                                        {% else %}
                                            {% if obj.payment_proof_file.file is not none %}
                                                <a data-toggle="tooltip" title="baixar comprovante de pagamento" class="btn btn-sm btn-outline-primary" download href="{% url 'bill_payment_proof_download' obj.id %}"><i class="material-icons">file_download</i></a>
                                            {% endif %}
                                            <button data-toggle="tooltip" title="estornar pagamento" onclick="document.querySelector('#undo_payment_form').setAttribute('action','{% url 'bill_undo_payment' obj.id %}')" data-bs-toggle="modal" data-bs-target="#undo_payment_modal" type="button" class="m-0 btn btn-sm btn-dark"><i class="material-icons">undo</i></button>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="1000" class="text-center">
                                        nenhum resultado encontrado
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% include "pagination/pagination_nav.html"%}
            </div>
        </div>
    </div>


    <!-- início do modal para pagamento de conta -->
    <div class="modal fade" id="bill_payment_modal" tabindex="-1" aria-labelledby="bill_payment_modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" >Formulário de pagamento</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="fechar"></button>
                </div>
                <div class="modal-body">
                    <form id="payment_form" method="post" action="" enctype="multipart/form-data">
                        {% crispy PAYMENT_FORM %}
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- fim do modal para pagamento de conta -->
    <!-- início do modal de filtros -->
    <div class="modal hide fade" id="bill_filters"  style="overflow:hidden !important;" aria-labelledby="bill_filters" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-xl">
            <div class="col-12 card modal-content p-3">
                <form id="filter_form"  action="?" class="p-3 " method="get">
                    <div class="row justify-content-center">
                        <div class="col-4 mt-2">
                            <label >Categoria:</label>
                            <select name="bill_category" id="bill_category"  class="form-control">
                                <option value="">todas</option>
                                {% for category in user.get_billcategories %}
                                    <option {% if category.id == request.GET.bill_category|to_int %}selected{%endif%} value="{{category.id}}">{{category.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-4 mt-2">
                            <label >Tipo:</label>
                            <select name="bill_type" class="form-control">
                                <option value="">todos</option>
                                {% for key,value in BILL_TYPES %}
                                    <option {% if key == request.GET.bill_type %}selected{%endif%} value="{{key}}">{{value}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-4 mt-2">
                            <label >Status:</label>
                            <select name="status" class="form-control">
                                <option value="">todos</option>
                                {% for key,value in BILL_STATUSES %}
                                    <option {% if key == request.GET.status %}selected{%endif%} value="{{key}}">{{value}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-4 mt-2">
                            <label >Cobrador:</label>
                            <select name="bill_charger" id="bill_charger"  class="form-control">
                                <option value="">todos</option>
                                {% for charger in user.get_billchargers %}
                                    <option {% if charger.id == request.GET.bill_charger|to_int %}selected{%endif%} value="{{charger.id}}">{{charger.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-4 mt-2">
                            <label >Forma de pagamento:</label>
                            <select class="form-control" name="payment_type">
                                <option value="">todos</option>
                                {% for key,value in BILL_PAYMENT_TYPES %}
                                    <option {% if key == request.GET.payment_type %}selected{%endif%} value="{{key}}">{{value}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-4 mt-2">
                            <label>Criada em:</label>
                            <input name="created_date" class="form-control" type="date" value="{{request.GET.created_date}}">
                        </div>
                        <div class="col-4 mt-2">
                            <label>Vence em:</label>
                            <input name="expiration_date" class="form-control" type="date" value="{{request.GET.expiration_date}}">
                        </div>
                        <div class="col-4 mt-2">
                            <label >Banco:</label>
                            <select class="form-control" name="bank">
                                <option value="">todos</option>
                                {% for key,value in BILL_PAYMENT_BANKS %}
                                    <option {% if key == request.GET.bank %}selected{%endif%} value="{{key}}">{{value}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-4 mt-2">
                            <label >Ordenar por:</label>
                            <select class="form-control" name="ordering">
                                <option value="">padrão</option>
                                {% for key,value in BILL_ORDERING_OPTIONS %}
                                    <option {% if key == request.GET.ordering %}selected{%endif%} value="{{key}}">{{value}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-12 text-center">
                        <button type="submit" class="btn btn-success mt-3"><i class="material-icons">filter_alt</i> filtrar</button>
                        <button type="button" onclick="cleanFilters()" class="btn btn-outline-secondary mt-3"><i class="material-icons">backspace</i> limpar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- fim do modal de filtros -->

    <!-- início do modal de confirmação de estorno -->
    <div class="modal fade" id="undo_payment_modal" tabindex="-1" aria-labelledby="undo_payment_modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="fechar"></button>
                </div>
                <div class="modal-body">
                    Tem certeza que deseja estornar o pagamento?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="material-icons">undo</i> cancelar</button>
                    <form id="undo_payment_form" method="post" action="">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success"><i class="material-icons">done</i> estornar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- fim do modal para confimar estorno -->

    <!-- início do modal de criação de conta -->
    <div class="modal fade" id="create_bill_modal" tabindex="-1" aria-labelledby="create_bill_modal" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" >Cadastro de Conta</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="fechar"></button>
                </div>
                <div class="modal-body">
                    <form id="payment_form" method="post" action="{% url 'bill_create' %}">
                        <div class="row">
                            {% crispy bill_create_form %}
                            {% csrf_token %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- fim do modal para criar conta -->

    <script>
        var navLinkIndex = 0
    </script>
{% endblock %}
{% block script %}
    <script>

        $(document).ready(()=>{
            $('#bill_category').select2(
                {
                    language:"pt-BR",
                    theme:'bootstrap-5',
                    minimumInputLength:0,
                    dropdownParent: $("#bill_filters")
                }
            )
            $('#bill_charger').select2(
                {
                    language:"pt-BR",
                    theme:'bootstrap-5',
                    minimumInputLength:0,
                    dropdownParent: $("#bill_filters")
                }
            )
            $('#id_payment_date').mask('00/00/0000')
            // campos do formulário de criação de conta
            // campos do formulário de cria
            $('#id_bill_category').select2(
                {
                    language:"pt-BR",
                    theme:'bootstrap-5',
                    minimumInputLength:0,
                    dropdownParent: $("#create_bill_modal")
                }
            )
            $('#id_bill_charger').select2(
                {
                    language:"pt-BR",
                    theme:'bootstrap-5',
                    minimumInputLength:0,
                    dropdownParent: $("#create_bill_modal")
                }
            )
            $('#id_expiration_date').mask('00/00/0000')
            $('#id_created_date').mask('00/00/0000')
            $('#id_value').mask('#.##0,00', {reverse: true})

        });
    </script>
{% endblock %}