{% extends 'base.html' %}
{% load coretags crispy_forms_tags %}
{% block title %}
    Relatório de Contas
{% endblock %}
{% block body %}
    <div class="row justify-content-center pt-4">
        {% if not user.has_billrelatory %}
            <div class="text-center">
                <div class="text-center text-success fw-bold">
                    Você ainda não possui um relatório
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <button data-bs-toggle="modal" data-bs-target="#billrelatory_form" class="btn btn-primary"><i class="material-icons">add</i> Criar Relatório</button>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="row justify-content-center">
                <div class="col-10">
                    <div class="text-start text-main fw-bold">
                        <p>
                            Status: <span class="text-dark fw-normal">{{user.billrelatory.get_status_display}}</span>
                        </p>
                        <p>
                            Última Atualização em: <span class="text-dark fw-normal">{{user.billrelatory.updated_date}}</span>
                        </p>
                        {% if not user.billrelatory.is_empty %}
                            <p>
                                Período: <span class="text-dark fw-normal">{{user.billrelatory.get_period_from_to}}</span>
                            </p>
                        {%endif%}
                        {% if user.billrelatory.status == 'COMPLETED' or  user.billrelatory.status == 'ERROR' %}
                            <button data-bs-toggle="modal" data-bs-target="#billrelatory_form" class="btn mx-0 btn-sm btn-primary"><i class="material-icons">add</i> Novo Relatório</button>
                        {% endif %}
                    </div>
                </div>


            </div>

            <div class="row justify-content-center mt-4">
                {% for key,value in user.billrelatory.data.items %}
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 p-1 p-sm-2">
                        <div class="card shadow">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item text-center bg-main text-light fw-bold">{{value.date}}</li>
                                <li class="list-group-item text-secondary">
                                    <div class="row">
                                        <div class="col-5">
                                            <p>
                                                <span>Vencidas: </span>
                                            </p>
                                            <p>
                                                <span>Vence Hoje: </span>
                                            </p>
                                            <p>
                                                <span>Atenção: </span>
                                            </p>
                                            <p>
                                                <span>A Vencer: </span>
                                            </p>
                                        </div>
                                        <div class="col-2">
                                            <p>
                                                <span>{{value.EXPIRED.count}}</span>
                                            </p>
                                            <p>
                                                <span>{{value.EXPIRES_TODAY.count}}</span>
                                            </p>
                                            <p>
                                                <span>{{value.WARNING.count}}</span>
                                            </p>
                                            <p>
                                                <span>{{value.TO_EXPIRE.count}}</span>
                                            </p>
                                        </div>
                                        <div class="col-5 text-end">
                                            <p>
                                                <span>R$ {{value.EXPIRED.value_sum|to_currency}}</span>
                                            </p>
                                            <p>
                                                <span>R$ {{value.EXPIRES_TODAY.value_sum|to_currency}}</span>
                                            </p>
                                            <p>
                                                <span>R$ {{value.WARNING.value_sum|to_currency}}</span>
                                            </p>
                                            <p>
                                                <span>R$ {{value.TO_EXPIRE.value_sum|to_currency}}</span>
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item text-center text-main fw-bold">
                                    <div class="row">
                                        <div class="col-5 text-start">
                                            Total:
                                        </div>
                                        <div class="col-2 text-start">
                                            {{value.TOTAL.count}}
                                        </div>
                                        <div class="col-5 text-end">
                                            R$ {{value.TOTAL.value_sum|to_currency}}
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <!-- início do modal de criar relatório -->
    <div class="modal text-center fade" id="billrelatory_form"  aria-labelledby="billrelatory_form" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="fechar"></button>
                </div>
                <div class="modal-body">
                    <style>
                        label{
                            display: none !important;
                        }
                    </style>
                    <form method="post" action="{% if not user.has_billrelatory %}{% url 'billrelatory_create' %}{% else %}{% url 'billrelatory_update' user.billrelatory.id %}{%endif%}">
                        {{ form|as_crispy_errors }}
                        {% if form.instance.id %}
                            <div class="col text-start">
                                <p>
                                    <span class="text-success fw-bold">Última atualização: </span><span>{{form.instance.updated_date|date:'d/m/Y'}}</span>
                                </p>
                                <p>
                                    <span class="text-success fw-bold">Status: </span><span>{{form.instance.get_status_display}}</span>
                                </p>
                            </div>
                        {% endif %}
                        <div class="row align-items-center">
                            <div class="col-2 text-center px-0 ">
                                <p>
                                    De:
                                </p>
                                <p class="pt-2 m-0">
                                    Até:
                                </p>
                            </div>
                            <div class="col-5">
                                <p>
                                    {{ form.start_month|as_crispy_field }}
                                </p>
                                <p>
                                    {{ form.end_month|as_crispy_field }}
                                </p>
                            </div>
                            <div class="col-5">
                                <p>
                                    {{ form.start_year|as_crispy_field }}
                                </p>
                                <p>
                                    {{ form.end_year|as_crispy_field }}
                                </p>
                            </div>
                        </div>
                        {% csrf_token %}
                        <div class="col-12 text-center">
                            <button class="btn btn-success" type="submit"><i class="material-icons">save</i> gerar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- fim do modal de criar relatório -->

    <script>
        var navLinkIndex = 3
    </script>
{% endblock %}