/* .table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color:rgba(49, 151, 127,.15) !important;
} */

.material-icons{
    vertical-align: bottom !important;
}

legend{
    text-align: center !important;
}

.nav-link.active{
    color: #31977f !important;
    font-weight: bold; 
}

.btn-success{
    background-color: #31977f !important;
}