/* .table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color:rgba(49, 151, 127,.15) !important;
} */

.material-icons{
    vertical-align: bottom !important;
}

legend{
    text-align: center !important;
}

.nav-link.active{
    color: #31977f !important;
    font-weight: bold; 
}

.btn-success{
    background-color: #31977f !important;
}

td{
    vertical-align : middle !important;
}

.form-control, .form-select, .select2-container{
    box-shadow: 0 .27rem .25rem rgba(0, 0, 0, .075) !important;
}